apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis-cache.fullname" . }}-config
  labels:
    {{- include "redis-cache.labels" . | nindent 4 }}
data:
  redis.conf: |
    port 6379
    bind 0.0.0.0
    protected-mode yes
    {{- if .Values.auth.enabled }}
    requirepass ${REDIS_PASSWORD}
    {{- end }}
    maxmemory {{ .Values.config.maxmemory }}
    maxmemory-policy {{ .Values.config.maxmemoryPolicy }}
    appendonly {{ .Values.config.appendonly }}
    appendfsync {{ .Values.config.appendfsync }}
    {{- if .Values.config.saveEnabled }}
    save {{ .Values.config.save }}
    {{- else }}
    save ""
    {{- end }}
    dir /data
