apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mongodb-database.fullname" . }}-config
  labels:
    {{- include "mongodb-database.labels" . | nindent 4 }}
data:
  mongod.conf: |
    net:
      port: {{ .Values.service.port }}
      bindIp: 0.0.0.0
    storage:
      dbPath: {{ .Values.persistence.mountPath }}
      journal:
        enabled: {{ .Values.config.enableJournal }}
      engine: {{ .Values.config.storageEngine }}
      wiredTiger:
        engineConfig:
          cacheSizeGB: {{ .Values.config.wiredTiger.engineCacheSizeGB }}
    systemLog:
      destination: file
      path: /var/log/mongodb/mongod.log
      logAppend: true
      verbosity: {{ .Values.config.verbosity }}
    operationProfiling:
      mode: {{ .Values.config.operationProfiling.mode }}
      slowOpThresholdMs: {{ .Values.config.operationProfiling.slowOpThresholdMs }}
    {{- if .Values.auth.enabled }}
    security:
      authorization: enabled
    {{- end }}
