apiVersion: v1
kind: Service
metadata:
  name: {{ include "mongodb-database.fullname" . }}
  labels:
    {{- include "mongodb-database.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: mongodb
    protocol: TCP
    name: mongodb
  {{- if .Values.metrics.enabled }}
  - port: {{ .Values.metrics.port }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  {{- end }}
  selector:
    {{- include "mongodb-database.selectorLabels" . | nindent 4 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "mongodb-database.fullname" . }}-headless
  labels:
    {{- include "mongodb-database.labels" . | nindent 4 }}
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
  - port: {{ .Values.service.port }}
    targetPort: mongodb
    protocol: TCP
    name: mongodb
  selector:
    {{- include "mongodb-database.selectorLabels" . | nindent 4 }}
